/.DS_Store
fastapi/mysql_info.json
fastapi/alembic.ini
fastapi/migrations/
fastapi/__pycache__/
fastapi/customer/__pycache__/
fastapi/customerdetail/__pycache__/
fastapi/user/__pycache__/
fastapi/noticefile/__pycache__/
fastapi/mysql_info copy.json
fastapi/payment/__pycache__/
fastapi/statistics_anal/__pycache__/
fastapi/rediscache/__pycache__/
fastapi/1.txt
sql_info.json
fastapi/notification/__pycache__/
